<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="IntegracionVTEX.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
	</startup>
	<connectionStrings>
		<add name="unoee" connectionString="Data Source=10.210.20.8;user id=unoee_consultas;Pwd=Invercomer1.;initial catalog=unoee_invercomer; MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
		<add name="integracion" connectionString="Data Source=10.210.20.8;user id=vtex;Pwd=Invercomer1.;initial catalog=IntegracionVTEX; MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<appSettings>
		<!--TAMAÑO DE LOS CICLOS PARA INTEGRACIÓN DE PRODUCTOS DESDE EL ERP A VTEX-->
		<add key="loop_size" value="50"/>
		
		<!--NÚMERO DE SEGUNDOS QUE ESPERA EL PROCESO ENTRE LOS CICLOS DE INTEGRACIÓN DE PRODUCTOS DESDE EL ERP A VTEX-->
		<add key="pause" value="2"/>
		<add key="id_cia" value="1"/>
		
		<!--PARA ENVIO DE CORREO-->
		<!--<add key="smtp" value="smtp.gmail.com"/>
		<add key="puerto" value="587"/>
		<add key="from" value="contacto@megatiendas.com.co"/>
		<add key="pwd" value="psooxysguriiuxaz"/>
		<add key="to" value="dicarmona@megatiendas.co;ymendoza@megatiendas.co;analistaweb@megatiendas.co"/>-->
		<add key="smtp" value="mail.megatiendas.co"/>
		<add key="puerto" value="2025"/>
		<add key="from" value="contacto@megatiendas.com.co"/>
		<add key="pwd" value="psooxysguriiuxaz"/>
		<add key="to" value="dicarmona@megatiendas.co;ymendoza@megatiendas.co;analistaweb@megatiendas.co;chjaramillo@megatiendas.co"/>
	</appSettings>
	<applicationSettings>
		<IntegracionVTEX.Properties.Settings>
   <setting name="IntegracionVTEX_WebReferenceUnoee_WSUNOEE" serializeAs="String">
    <value>http://190.71.130.114:8064/WSUNOEE/WSUNOEE.asmx</value>
   </setting>
  </IntegracionVTEX.Properties.Settings>
	</applicationSettings>
</configuration>
